/*@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");*/

/*start desktop style*/
*:focus {
    outline: none !important;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    font-size: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
}

header {
    padding: 0 10px;
}

.wrapper {
    margin: 0 auto;
    position: relative;
}
.d-flex {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.justify-content-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-content-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.img-fluid {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #fff;
}

.gameplay-secondary-screen > div.completed-screen .text-white {
    text-transform: uppercase;
}

.text-orange {
    color: #ff7e00;
}

.d-block {
    display: block !important;
}

.w-100 {
    width: 100% !important;
}

.mt-3 {
    margin-top: 25px;
}


.mt-auto {
    margin-top: auto;
}

.mt-0 {
    margin-top: 0 !important;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}


h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    border: none;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 4px 12px 7px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

.btn img {
    max-width: 15px;
}

.btn.lg {
    font-size: 23px;
    min-width: 200px;
}

.btn.xlg {
    padding: 8px 12px 10px;
    font-size: 23px;
    min-width: 240px;
}

.btn-primary {
    background: #89d546;
    border-bottom: 2px solid #75b53c;
}

.btn-secondary {
    background: #b829bd;
    border-bottom: 2px solid #9d23a1;
}

.btn-default {
    border-bottom: 3px solid #d96b00;
    background: #ff7e00;
}

.btn-wrong-answer {
    background: #ec3232;
    border-bottom: 2px solid #d93131;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1px;
    border-radius: 0 0 10px 10px;
    transition: 0.45s opacity ease-in-out;
    opacity: 1.0;
}

.btn-wrong-answer.faded {
    opacity: 0;
}

.top-btns-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*margin: 0 -2px;*/
}

.top-btns-group .btn {
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    margin: 0 2px;
}

.btns-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /*margin: auto 0 0;
    padding-top: 3vh;*/
}

.btns-group .btn {
    width: 49%;
    word-break: break-all;
    padding: 8px 12px;
}
.burger-menu {
    margin-top: 8px;
    cursor: pointer;
}

.burger-menu span {
    display: block;
    /*position: absolute;*/
    height: 2px;
    width: 24px;
    background: #23c8c8;
}

.burger-menu span {
    margin-top: 6px;
}

.burger-menu span:first-child {
    margin-top: 0 !important;
}
.close {
    display: block;
    color: #a8b2b2;
    font-weight: 500;
    padding-top: 8px;
    cursor: pointer;
    padding-bottom: 8px;
}

.back {
    display: block;
    max-width: 20px;
    position: absolute;
    top: 9px;
    left: 10px;
}

.header-inner {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 50px;
    position: relative;
    background: #0b5c5c;
    color: #fff;
    font-weight: 700;
    font-size: 23px;
}

.navigation {
    width: 90%;
    margin: 0 auto;
}

.navigation li {
    width: 100%;
}

.navigation li a {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    padding: 6px;
    cursor: pointer;
    /*pointer-events: none;*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.navigation li a span {
    text-decoration: underline;
    color: #3fcdba;
}

.privacy-link {
    display: block;
    font-weight: 500;
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    padding-bottom: 60px;
}

main {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    flex: 1;
    min-height: calc(100vh - 60px);
}


.wrapper, .wrapper main {
    background: #008685;
}

.wrapper.bgr-color-dark-green {
    background: #093b3b;
}

.img-game-container {
    margin: 0 auto;
    /*width: 90%;*/
    font-size: 0;

}

.middle-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
}

.container {
    position: relative;
}

.letters-list {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.letters-list li {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-bottom: 4px solid #23caca;
    cursor: pointer;
    text-transform: uppercase;
}

.letters-list li.non-active {
    border-bottom-color: #0e6363;
}

.letters-list-bottom {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    margin-top: 3vh;
    height: 59.4px;
    margin-bottom: 4px;

}

.letters-list-bottom li.none {
    opacity: 0;
}

.letters-list-bottom li button {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 35px;
    width: 35px;
    font-weight: bold;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-bottom: 3px solid #d96b00;
    background: #ff7e00;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    padding: 0;
}

.hints-lamp {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ff7e00;
    margin: 3vh auto 10vh;
}

.hints-list {
    width: 100%;
    font-size: 20px;
}

.hints-list li {
    padding: 0 12px;
}

.hints-list li.active {
    background: #148484;
}

.price {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    width: 30%;
}

.price img {
    max-width: 20px;
    height: auto;
    margin-left: 6px;
}

.price.btn {
    width: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    line-height: 1;
    text-decoration: none;
    background: #0e6363;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 6px 20px;
}

.hints-list-text {
    display: block;
    width: 70%;
}

.hints-list-item {
    padding: 12px 0;
    color: #fff;
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #6b8989;
    text-decoration: none;
}

.main-inner {
    display: block;
    padding: 10px 0;
}

.main-inner > .container {
    width: 100%;
    padding: 15px;
}

.coins-list {
    margin-top: 10px;
}

.coins-list li {
    padding: 12px;
    border-bottom: 1px solid #0d6a6a;
}

.coins-list li.disabled .coins-list-item {
    color: #d1d1d1;
}

.coins-list li img {
    max-width: 24px;
    margin-right: 6px;
}

.coins-list li strong {
    display: inline-block;
    padding-right: 12px;
}

.coins-list-item {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}

.coins-list-item > span {
    width: -webkit-calc(100% - 36px);
    width: calc(100% - 36px);
}

.full-height {
    min-height: -webkit-calc(100vh - 40px);
    min-height: calc(100vh - 40px);
}

.wrapper.secondary-screen {

    height: 100vh;
    padding: 0;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;

}

.middle-container {
    padding: 0 15px 0 15px;
}

li {
    /*pointer-events: none;*/
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

a {
    -webkit-tap-highlight-color: transparent;
}

.gameplay-secondary-screen > div.menu-screen .navigation .friend-info {
    position: relative;
    margin-bottom: 2vh;
}

.gameplay-secondary-screen > div.menu-screen .navigation .friend-info table {
    width: 85%;
    margin: 0 auto;
}

.gameplay-secondary-screen > div.menu-screen .navigation td.friend {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 20px;
    vertical-align: bottom;
}

.gameplay-secondary-screen > div.menu-screen .navigation td.friend-photo {
    vertical-align: middle;
    padding-right: 3vw;
    width: 7vh;
    font-size: 0;
}

.gameplay-secondary-screen > div.menu-screen .navigation td.friend-photo img {
    border-radius: 50%;
    height: 7vh;
    border: 3px solid #fff;
}

.gameplay-secondary-screen > div.menu-screen .navigation td.friend-level {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    vertical-align: top;
}

.gameplay-secondary-screen > div.menu-screen .navigation td.friend-help-btn {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
    text-align: right;
}

.friend-handshake {
    border-spacing: 0;
    padding-top: 10px;
}

.friend-handshake td {
    position: relative;
    padding: 0;
}

.friend-handshake td img {
    height: 50px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.friend-handshake td i {
    position: absolute;
    color: red;
    font-size: 40px;
    right: -15px;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 100;
    vertical-align: middle;
    height: 40px;
}

.left-friend-help {
    font-size: 30px;
    color: #fff;
    vertical-align: middle;
    padding-top: 10px;
}

ui-view[name=header] {
    position: relative;
    z-index: 999;
}

.navigation li a {
    padding: 25px 0;
}

.close {
    padding-top: 20px;
}

header.ng-scope {
    /*min-height: 75px !important;*/
}

.back {
    top: 50%;
    transform: translateY(-50%);
}

.letters-list-bottom li {
    width: 59.4px;
    height: 59.4px;
    margin: 2px;

}

.letters-list-bottom li:last-child {
    margin-right: 0;
}

.letters-list-bottom li:first-child {
    margin-left: 0;
}

.letters-list-bottom li button {
    width: 100%;
    height: 100%;

}

.middle-container {
    padding-bottom: 15px;
}

h2.text-center {
    font-weight: 700;
    font-size: 32px;
}

.img-game-container {
    min-width: 100%;
}

.gameplay-secondary-screen > div.menu-screen .navigation {
    justify-content: flex-start;
    padding-top: 20px;
}

.top-btns-group .btn.btn-secondary {
    display: flex;
    align-items: center;
    position: relative;
    min-width: 60px;
}



.top-btns-group .btn.btn-secondary:last-child img {
    margin-right: 3px;
}

.top-btns-group .btn.btn-secondary:last-child {
    font-family: Arial;
    font-weight: 400;
}

.letters-list {
    padding-top: 1.4vh;
    padding-bottom: 0px;
    margin-bottom: 4px;
}

.header-inner.coins.ng-scope {
    padding-top: 20px;
    padding-bottom: 20px !important;
}

.main-inner.coins-screen.ng-scope {
    padding-top: 0;
}

.main-inner.coins-screen.ng-scope .container {
    padding-top: 0;
}

.main-inner.coins-screen.ng-scope .container .coins-list {
    margin-top: 0;
}

.buttons-price__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}

.buttons-price__wrapper .btn.price:first-child {
    margin-bottom: 3vh;
}

.letters-list {
    padding-top: 0;
}

.gameplay-secondary-screen > div.menu-screen .navigation {
    justify-content: center;
    height: 80vh;
}

.gameplay-secondary-screen > div.completed-screen button {
    width: 90%;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

h2.text-center.ng-scope {
    font-size: 36px;
}

.buttons-price__wrapper .btn {
    font-size: 30px;
}

.buttons-price__wrapper img {
    max-width: 30px;
}

.about .container-fluid h2 {
    font-size: 24px !important;
    line-height: 1.2;
}

.middle-container--flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2vh;
    min-height: calc(100vh - 70px);
}

.letters-list {
    margin-bottom: 30px;
}

.box {
    font-size: 0;
}

.top-btns-group .btn.btn-secondary:last-child img {
    max-height: 20px;
}

.top-btns-group .btn.btn-secondary:last-child {
    display: flex;
    align-items: center;
}

.top-btns-group .btn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.top-btns-group .btn.btn-secondary:last-child {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.gameplay-secondary-screen > div.completed-screen button {
    font-family: "Roboto", sans-serif;
}

.letters-list {
    height: 46px;
    margin-top: 30px;
}

.letters-list li {
    display: flex;
    align-items: flex-end;
}

#pollfish-analytics {
    position: absolute;
    left: -100px;
    width: 0;
    height: 0;
}

.cristals__orange-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}

.cristals__orange-button {
    background: #a55324;
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 13px;
    width: 31.5%;
    box-sizing: border-box;
    height: 50px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 2px 0px #7b2903;

}

.cristals__orange-button img {
    height: 90%;
    width: auto !important;
}

.cristals__orange-button:nth-child(2) img {
    height: 75% !important;
}

.cristals__orange-button-text {
    font-size: 28px;
    color: #fff;
    font-weight: 700;
}

.cipboard-succ {
    position: absolute;
    background: #000;
    color: #fff;
    font-size: 12px;
    width: 120px;
    padding: 4px 0px;
    -webkit-box-shadow: 0px 0px 14px rgb(0 0 0 / 10%);
    box-shadow: 0px 0px 14px rgb(0 0 0 / 10%);
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-120%);
    -ms-transform: translateX(-50%) translateY(-120%);
    transform: translateX(-50%) translateY(-120%);
    border-radius: 4px;
    display: none;
    text-align: center;
}

.is-copy .cipboard-succ {
    display: block;
}
.cristal-icon {
    margin: 0 5px;
    display: block;
    width: 24px;
    height: 24px;
    background: url("../static/crystals/img/cryistal.svg");
    background-position: center;
}
.full-screen-button svg {
    width: 40px;
    height: 40px;
    fill: #fff;
    transform: translateY(7px);
}
.full-screen-button {
    margin-top: 0px;
    margin-left: 15px;
    cursor: pointer;
   
}
.header__left {
    display: flex;
    align-items: center;
}
.cristals__orange-button .game-orange-button-icon--1 {
   width: 45px;
   height: 45px;
   display: block;
   background: url("../static/crystals/img/revela-the-letter-white.png");
   background-repeat: no-repeat;
   background-position: left center;
   background-size: 45px 45px;
}
.cristals__orange-button .game-orange-button-icon--2 {
   width: 45px;
   height: 45px;
   display: block;
   background: url("../static/crystals/img/remove-letters-white.png");
   background-repeat: no-repeat;
   background-position: left center;
   background-size: 35px 35px;
}
.cristals__orange-button .game-orange-button-icon--3 {
   width: 45px;
   height: 45px;
   display: block;
   background: url("../static/crystals/img/skip-the-level-white.png");
   background-repeat: no-repeat;
   background-position: left center;
   background-size: 45px 45px;
}
.gameplay-secondary-screen > div.completed-screen button {
    margin-bottom: 6vh;
    margin-top: 0;
}
.gameplay-secondary-screen > div.completed-screen h2.text-orange {
    margin-top: 5vh;
    margin-bottom: 0;
}
.gameplay-secondary-screen > div.completed-screen h2.text-white {
    margin-bottom: 0;
    margin-top: 0;
}
.gameplay-secondary-screen .img-game-container img {
    margin-bottom: 0;
    margin-top: 0;
}
.gameplay-secondary-screen .buttons-price__wrapper .btn.price:first-child{
    margin-bottom: 0;
    margin-top: 0;
}
.launch-popup-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
/*end desktop style*/

/*start max-width style*/

@media screen and (max-width: 992px) {
    .letters-list-bottom li {
        width: 10.1vw;
        height: 10.1vw;
        margin: 1vw;
    }

    .middle-container {
        width: 90vw;
        padding: 0 1vw;
    }

    .letters-list-bottom li:last-child {
        margin-right: 0;
    }

    .letters-list-bottom li:first-child {
        margin-left: 0;
    }
    .letters-list-bottom {
        height: 10.85vw;
        margin-bottom: 2vw;

    }
    .cristals__orange-button {
        height: 9vw;
        box-shadow: 0 0.75vw 0.3vw 0 #7b2903;
        padding-left: 3vw;
        padding-right: 3vw;

    }

    .cristals__orange-button-text {
        font-size: 4.5vw;
    }
    .letters-list-bottom li button {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 670px) {
    .img-game-container img {
        max-width: 90%;
    }
}

@media screen and (min-width: 640px) {
    .mt-md-3 {
        margin-top: 60px;
    }
}

@media screen and (max-width: 639px) {
    .price img {
        max-width: 24px;
    }
}

@media screen and (max-width: 600px) {
    header.ng-scope {
        padding-right: 0;
    }

    .letters-list-bottom li button {
        font-size: 5.5vw;
        font-weight: 700;

    }
    .img-game-container img {
        max-width: 80%;
    }

}

@media screen and (max-width: 480px) {
    .full-screen-button svg {
        width: 35px;
        height: 35px;
        transform: translateY(6px);
    }
    .burger-menu {
        margin-top: 9px;
    }
    .gameplay-secondary-screen > div.completed-screen button {
        width: 90%;
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .middle-container--flex {
        min-height: calc(100vh - 60px);
    }
    .letters-list {
        margin-bottom: 15px;
        margin-top: 20px;

    }

    main {
        min-height: calc(100vh - 40px);
    }
    .top-btns-group .btn {
        font-size: 1.3rem !important;
    }
    .cristals__orange-button .game-orange-button-icon--1 {
        width: 10vw;
        height: 10vw;
        background-size: 10vw 10vw;
    }
    .cristals__orange-button .game-orange-button-icon--2 {
        width: 7vw;
        height: 7vw;
        background-size: 7vw 7vw;
    }
    .cristals__orange-button .game-orange-button-icon--3 {
        width: 9vw;
        height: 9vw;
        background-size: 9vw 9vw;
    }
    .img-game-container img {
        max-width: 75%;
    }

}


@media screen and (max-width: 475px) {
    .top-btns-group .btn {
        padding: 7px 7px 7px 7px;
        font-size: 16px;

    }

    .top-btns-group .btn.btn-secondary {
        display: flex;
        align-items: center;
        position: relative;
        min-width: 60px;
    }

    .btn img {
        max-width: 15px;
        margin: 0 3px;
    }

    .btns-group .btn {
        font-size: 1.3rem;
    }

    .img-game-container {
        max-width: 100%;
    }
    .top-btns-group .btn {
        font-size: 1.3rem;
    }

}
@media screen and (max-width: 415px) { 
    .letters-list-bottom li {
        width: 10.8vw;
        height: 10.8vw;
    }
}
@media screen and (max-width: 380px) {
    .letters-list li {
        width: 30px !important
        max-width: 30px;
        display: flex;
        align-items: flex-end;
    }

    .letters-list {
        padding-top: 3vh;
    }
}

@media screen and (min-width: 375px) and (max-width: 414px) {
    .btns-group .btn {
        font-size: 1.3rem;
        padding: 8px 12px 10px;
    }

}

@media screen and (max-width: 375px) {
    .mt-sm-1 {
        margin-top: 10px;
    }
     .letters-list {
        margin-top: 10px;

    }
}

@media screen and (max-width: 360px) {
    .btns-group .btn {
        font-size: 1.1rem !important;
    }
    .top-btns-group .btn {
        font-size: 1.1rem !important;
    }

}

@media screen and (max-width: 330px) {
    .top-btns-group .btn {
        font-size: 15px;
    }
}
/*end max-width style*/

/*start min-width style*/
@media screen and (min-width: 640px) {
    h2.lg {
        font-size: 34px;
        margin: 30px 0;
    }
    h3 {
        font-size: 28px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
     .btn.xlg {
        min-width: 320px;
        font-size: 30px;
        padding: 14px 12px 16px;
    }
    .burger-menu span {
        width: 36px;
    }
    .close {
        font-size: 24px;
    }
    .back {
        top: 14px;
        max-width: 30px;
    }
    .header-inner {
        min-height: 60px;
        font-size: 28px;
    }
    .navigation li a {
        font-size: 34px;
        padding: 12px;
    }
    .privacy-link {
        font-size: 28px;
        padding-bottom: 100px;
    }
    .img-game-container {
        margin: 0 auto;
    }
    .middle-container {
        width: 90%;
    }
    .hints-lamp {
        width: 160px;
        height: 160px;
    }
    .hints-lamp svg {
        width: 100px;
    }
    .hints-list {
        font-size: 30px;
    }
     .price.btn {
        font-size: 34px;
        padding: 15px 40px;
    }
    .coins-list li img {
        max-width: 30px;
        margin-right: 10px;
    }
    .coins-list-item {
        font-size: 30px;
    }
     .coins-list-item > span {
        width: -webkit-calc(100% - 35px);
        width: calc(100% - 44px);
    }
}

@media screen and (min-width: 415px) {
    .btn img {
        max-width: 25px;
    }
    .top-btns-group .btn {
        font-size: 30px;
        padding: 10px 10px 10px;
    }
    .middle-container {
        padding: 2vh 15px 0 15px;
    }
    .letters-list li {
        height: auto;
        width: 60px;
        font-size: 30px;
        display: flex;
        align-items: flex-end;
    }
    .letters-list-bottom {
        max-width: 100%;
    }

 
}

@media screen and (min-width: 375px) {
    header {
        padding: 0 15px;
    }
    h2.lg {
        font-size: 28px;
        margin: 20px 0 30px;
    }
    h3 {
        font-size: 24px;
    }
    .btn {
        font-size: 18px;
        padding: 7px 12px 9px;
    }
    .top-btns-group .btn {
        margin: 0 4px;
    }
    .burger-menu {
        margin-top: 14px;
    }
    .burger-menu span {
        height: 3px;
        width: 30px;
        margin-top: 9px;
    }
    .close {
        font-size: 20px;
    }
    .navigation li a {
        padding: 10px;
    }
    .letters-list li {
        font-size: 24px;
        height: auto;
    }
    .price img {
        max-width: 30px;
        margin-left: 12px;

    }

    .buttons-price__wrapper .price img {
        margin-left: 0px;
        margin-right: 12px;
    }
    .price.btn {
        padding: 10px 30px;
    }
    .hints-list-item {
        padding: 16px 0;
    }
}

@media screen and (min-width: 375px) and (max-width: 414px) {
    
}

@media screen and (min-width: 320px) {
    h2.lg {
        margin: 20px 0 15px;
    }
}
/*end min-width style*/

