<div class="popup-content">
    <div class="popup-loss">
        <div class="popup-loss__photo-wrapper">
            <img ng-src="{{ ngDialogData.win_data.winner_userpic }}" alt="">
        </div>
        <div class="popup-loss__text">
            {{ ngDialogData.win_data.winner_ticket }}
        </div>
        <div class="popup-lottery__title">
            {{ ngDialogData.win_data.winner_username }}
        </div>
        <div class="popup-lottery__sub-title">
            {{ 'won'|translate }} ${{ ngDialogData.win_data.award }}

        </div>

        <div class="popup-loss__text" ng-if="!ngDialogData.win_data.win" translate>
            raffle_loose_text
        </div>

        <div class="popup-loss__text" ng-if="ngDialogData.win_data.win" translate>
            raffle_win_text
        </div>

        <button class="invite-friends__form-button invite-friends__form-button--sm" ng-click="closeThisDialog()" translate>
            close_text
        </button>

    </div>
</div>