<div class="apply-filter">
    <label class="filter-checkbox filter-checkbox--1" ng-click="toggle_languages()">
        <i ng-bind="languages_to_filter==36?'Clear all':'Check all'"></i>
        <i class="fas" ng-class="{'fa-toggle-on': languages_to_filter.length==36, 'fa-toggle-off': languages_to_filter.length!=36 }">
            
        </i>
    </label>
    <div class="overflow-hidden">
        <label class="filter-checkbox" ng-repeat="language in languages|orderBy:'name':false:accents_comparator"
               ng-class-even="'even'" ng-class-odd="'odd'">
            <i ng-bind="language.name"></i><input type="checkbox" ng-model="language.selected"><br>
        </label>
    </div>
    <a class="apply-button" href="javascript://" class="popup-button" ng-click="apply()">Apply</a>
</div>
