<div>
    <div class="cryistals-header cryistals-header--page">
        <div class="cryistals-container">
            <div class="cryistals-header__top">
                <a ng-if="from_state != 'index'"
                   ui-sref="crystals.rewards({page: null, all_users: false, profile: profile})" class="cryistals-back">
                    <span class="cryistals__search-wrapper-arrow"></span>Connect Wallet
                </a>
                <a ng-if="from_state == 'index'" ui-sref="crystals.index({silent: true})" class="cryistals-back">
                     <span class="cryistals__search-wrapper-arrow"></span> <span translate>connect_wallet</span>
                </a>


            </div>


        </div>
    </div>

    <!-- end header section -->


    <section class="cryistals-profile">
        <div class="cryistals-container">
            <div class="cash-out-title cash-out-title--wallet" translate>
                wallet_manual_1
            </div>
            <div class="cash-out-sub-title text-left cash-out-sub-title--margin" translate>
                wallet_manual_2
            </div>
        </div>

        <div class="cryistals-container">
            <div class="cryistals-profile__form">

                <div class="cryistals__form-row">

                    <input type="text" placeholder="{{ 'ton_cry_wallet_addr'|translate }}" ng-model="profile.ton_wallet_manual" class="cryistals__input">

                    <div class="input-prompt">
                        <span translate>wallet_manual_3</span>
                        <a href="https://ton.surf/main" target="blank">https://ton.surf/main</a>
                    </div>
                </div>
                <a href="javascript://" ng-click="apply_ton_wallet()" class="popup-button" translate>
                    wallet_manual_4
                </a>
            </div>
        </div>
    </section>
</div>