<div>
<div class="cryistals-header">
    <div class="cryistals-container">
        <div class="cryistals-header__top">
            <a ui-sref="crystals.index({silent: true})" ui-sref-opts="{reload: true}" class="cryistals-back">
                <span class="cryistals__search-wrapper-arrow"></span> <span translate="{{ league==1?'bronze_leaderboard':'silver_leaderboard' }}"></span>
            </a>

        </div>
        <div class="cryistals-header__contetn cryistals-header__contetn--leaderboard">
            <div class="cryistals-header__contetn-left">
					<span class="cryistals-header__user-info cryistals-header__user-info--leaderboard">
                    <span class="cryistals__title" translate="{{ league==1?'win_10':'win_75' }}">
                </span>

                <span class="cryistals-header__text" translate="{{ league==1?'bronze_leaderboard_awards':'silver_leaderboard_awards' }}">
                </span>
                </span>
            </div>
        </div>


    </div>
</div>
<div class="cryistals-fixed-page-content">
    <div class="cryistals-container--game">
        <section class="leaderboard-content">

<div class="leaderboard__game-balance-wrapper">

		<div class="leaderboard-content__sub-title leaderboard-content__sub-title--white" translate>
			gems_balance
		</div>
<div class="leaderboard-content__sub-title leaderboard-content__sub-title--black leaderboard-content__sub-title--white">
			<span translate>end_of_contest</span>:
    <timer countdown="league==1?leaderboard.time_remain:leaderboard.time_remain_sun" max-time-unit="league==1?'hour':'day'" interval="1000" language="{{ lang }}">
        <span ng-if2="league==2" ng-bind="dayUnit.split(',')[0]"></span> <span ng-bind="hhours"></span>:<span ng-bind="mminutes"></span>:<span ng-bind="sseconds"></span>
    </timer>
		</div>
</div>

            <div class="leaderboard-items leaderboard-items--no-margin">
                <div class="leaderboard__item" ng-repeat="position in leaderboard.leaderboard"
                     ng-class="{'leaderboard__item--user-position': ($index + 1) == leaderboard.user_position}">
                    <div class="leaderboard__item-num"
                         ng-class="{
                'leaderboard__item-num--first': $index == 0,
                'leaderboard__item-num--second': $index == 1,
                'leaderboard__item-num--third': $index == 2
                }" ng-bind="position.pos">
                    </div>
                    <div class="cryistals-container">
                        <div class="leaderboard__item-user-info">
                            <div class="leaderboard__photo">
                                <img ng-src="{{ position.userpic }}" alt="">
                            </div>

                            <div class="leaderboard__name" ng-bind="position.username"></div>
                        </div>

                        <div class="transactions-history__amount-wrapper">

                            <div class="transactions-history__amount" ng-bind="position.crystals"></div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</div>