<div>
    <div class="cryistals-header cryistals-header--page">
        <div class="cryistals-container">
            <div class="cryistals-header__top">
                <a ui-sref="crystals.index({silent: true})" ui-sref-opts="{reload: true}" class="cryistals-back">
                     <span class="cryistals__search-wrapper-arrow"></span><span translate>payouts_history</span>
                </a>


            </div>


        </div>
    </div>

    <!-- end header section -->

    <section class="cryistals-transactions-history">
        <div class="cryistals-container">
            <div class="transactions-history__list" when-scrolled="load_more()" scroll-listen=".cryistals-wrapper">
                <div ng-if="!rewards.length" class="no-payouts">
                    <div>
                        <div class="payouts-history-icon">

                        </div>

                        <div class="no-payouts-title" translate>
                            no_payouts_yet
                        </div>
                    </div>

                    <!--<a href="index.html" class="popup-button">
                        Earn Free Gems
                    </a>-->
                </div>

<!--ng-if="rewards.length" -->
                <a ui-sref="crystals.rewards({all_users: false, profile: profile, page: 'wallet', from_state: 'payouts'})" ng-class="{'recent-payments__item--info-need': r.status==1}"
                   class="recent-payments__item transactions-history__item" ng-repeat="r in rewards|orderBy:'-id'">

                    <div class="transactions-history__item-left">
                        <div class="transactions-history__item-title" ng-bind="get_reward_description(r)">
                        </div>
                        <div class="transactions-history__item-text" ng-class="{'red': r.status==1}">
                            <span ng-if="r.status==1" translate>info_needed_</span>
                            <span ng-if="r.status==2" translate>processing_</span>
                            <span ng-if="r.status==3" translate>paid_</span>
                            {{ r.date }}
                        </div>
                    </div>

                    <div class="transactions-history__amount-wrapper">

                        <div class="transactions-history__amount">
                            <span class="cryistals-amount cryistals-amount--ton ng-binding"></span><span ng-bind="(r.amount|currency:'':4)"></span>
                             ≈ <span ng-bind="((r.amount * r.rate)|currency:'$':2)"></span>
                        </div>

                    </div>


                </a>


            </div>
        </div>
    </section>
</div>