<div>
    <div class="cryistals-header">
        <div class="cryistals-container">
            <div class="cryistals-header__top">
                <a ui-sref="crystals.index({silent: true})" ui-sref-opts="{reload: true}" class="cryistals-back">
                    <span class="cryistals__search-wrapper-arrow"></span>Recent payments
                </a>
            </div>


        </div>
    </div>

    <div class="">
        <div class="cryistals-container--game">
            <section class="">
                <div class="leaderboard-items" when-scrolled="load_more()" scroll-listen=".cryistals-wrapper">
                    <div ng-if="!rewards.length" class="no-payouts">
                        <div>
                           <div class="payouts-history-icon">

                        </div>
                            <div class="no-payouts-title">
                                No Payouts Yet!
                            </div>
                        </div>
                    </div>
                    <a href="https://ton.live/" target="_blank" ng-if="rewards.length" class="recent-payments__item leaderboard__item" ng-repeat="r in rewards|orderBy:'-id'">
                        <div class="cryistals-container">
                            <div class="leaderboard__item-user-info">
                                <div class="recent-payments__photo leaderboard__photo">
                                    <img ng-src="{{ r.userpic }}" alt="{{ r.username }}" class="leaderboard__photo">
                                </div>
                                <div class="recent-payments__info-wrapper">

                                    <div class="leaderboard__row-wrapper">
                                        <div class="recent-payments__sub-title">
                                            Name
                                        </div>
                                        <div class="leaderboard__name" ng-bind="r.username">
                                        </div>
                                    </div>
                                    <div class="leaderboard__row-wrapper">
                                        <div class="recent-payments__sub-title">
                                            Date
                                        </div>
                                        <div class="recent-payments__date">
                                            <span ng-bind="r.timestamp|timeAgo"></span>
                                        </div>
                                    </div>
                                    <div class="leaderboard__row-wrapper">
                                        <div class="recent-payments__sub-title">
                                            Type
                                        </div>
                                        <div class="recent-payments__text" ng-bind="get_reward_description(r)">
                                        </div>
                                    </div>
                                    <div class="leaderboard__row-wrapper">
                                        <div class="recent-payments__sub-title">
                                            Amount
                                        </div>
                                        <div class="recent-payments__text">
                                            <span ng-bind="(r.amount|currency:'':4)"></span>
                                            <div class="ton-icon"></div>≈&nbsp;
                                            <span ng-bind="((r.amount * r.rate)|currency:'$':2)"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--<div class="cryistals-container">
                            <div class="leaderboard__item-user-info">
                                <div class="recent-payments__photo leaderboard__photo">
                                    <img ng-src="{{ r.userpic }}" alt="{{ r.username }}" class="leaderboard__photo">
                                </div>

                                <div class="recent-payments__info-wrapper">
                                    <div class="leaderboard__name" ng-bind="r.username">
                                    </div>
                                    <div class="recent-payments__date" ng-bind="r.timestamp|timeAgo">
                                    </div>

                                    <div class="recent-payments__text" ng-bind="get_reward_description(r)">
                                    </div>


                                </div>


                            </div>

                            <div class="transactions-history__amount-wrapper">

                                <div class="transactions-history__amount">
                                    <span class="cryistals-amount ng-binding" style="vertical-align: middle; width: 20px;
    background: url(/app-static/static/crystals/img/ton.png) center center no-repeat;
    height: 16px;
    display: inline-block;
    background-size: 100%;"></span><span ng-bind="(r.amount|currency:'':4)"></span>
                             ≈ <span ng-bind="((r.amount * r.rate)|currency:'$':2)"></span>
                                </div>

                            </div>

                        </div>-->
                    </a>

                </div>
            </section>
        </div>
    </div>
</div>