<div class="menu-screen">
    <div class="container w-100">
        <ul class="navigation languages-list">
            <li ng-class="{'active': get_app_ui_language()[1]=='en'}"><a ng-click="set_app_ui_language('en')">English</a></li>
            <li ng-class="{'active': get_app_ui_language()[1]=='ru'}"><a ng-click="set_app_ui_language('ru')">Русский</a></li>
            <li ng-class="{'active': get_app_ui_language()[1]=='de'}"><a ng-click="set_app_ui_language('de')">Deutsch</a></li>
            <li ng-class="{'active': get_app_ui_language()[1]=='es'}"><a ng-click="set_app_ui_language('es')">Spanisch</a></li>
        </ul><!-- navigation -->
    </div><!-- container -->
</div>